POSTGRES_DB=cfu_schedule
POSTGRES_USER=cfu_schedule
POSTGRES_PASSWORD=replace-with-a-long-random-password
POSTGRES_PORT=5432
API_PORT=8080
INSTALLATION_SECRET_PEPPER=replace-with-at-least-32-random-characters
JWT_SIGNING_KEY=replace-with-another-32-character-random-secret
